<!DOCTYPE html>
<html lang="en"
  xmlns:th="http://www.thymeleaf.org"
>
  <head>
    <title>User Page </title>
  </head>
  <body>
    <h1 th:text="${welcomeMessage}"></h1>
    <p>Here is some information about your account:</p>
    <ul>
      <li>Email: [[${email}]]</li>
      <li>Account Created: [date created]</li>
      <li>Last Login: [last login date]</li>
    </ul>
    <p>Here are some options for managing your account:</p>
    <ul>
      <li><a href="/change-password">Change Password</a></li>
      <li><a href="/update-profile">Update Profile</a></li>
      <li><a href="/logout">Logout</a></li>
    </ul>
  </body>
</html>