<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title th:text="${userName}"></title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p th:text = "${landing}">User not found!</p>
    <div th:each="post : ${posts.tweets}">
         <div id="text">
            <p th:text = "${post.user.name}"></p>
            <p th:text = "${post.full_text}"></p>
        </div>
        <div id="media">
            
        </div>
    
    </div>
    
</body>
</html>
